body {
  background-color: #eeeeee !important;
}

h2 {
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.buy-list {
  background-color: #ECE1C0;
  height: 90px !important;
  width: 60px !important;
}